* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 2px solid red; */
}

/* hero start */
.hero {
  background-color: #1f2937;
  padding: 20px 230px;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

header a,
.hero-content-left p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
  gap: 20px;
  margin: 100px auto;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-content-right img {
  object-fit: cover;
  object-position: center 74%;
  width: 600px;
  height: 285px;
}

.hero-content-left button {
  border: none;
  background-color: #3882f6;
  padding: 10px 28px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
/* hero end */

/* information section start */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 40px 0;
}

.info-images {
  display: flex;
  gap: 40px;
}

.card {
  width: 200px;
  height: auto;
}

.card-image {
  width: 170px;
  height: 170px;
  outline: 4px solid #3882f6;
  border-radius: 10px;
}

.card-image img {
  object-fit: cover;
  object-position: center;
  width: 170px;
  height: 170px;
}

.card p {
  font-size: 18px;
  color: #1f2937;
  width: 170px;
  text-align: center;
  margin-top: 12px;
}
/* information section end */

/* quote section start */
.quote-section {
  background-color: #e5e7eb;
  padding: 100px 320px;
}

.quote-section p {
  font-size: 36px;
  color: #3a3d3f;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

p.author {
  font-size: 24px;
  color: #1f2937;
  font-weight: 900;
  font-style: normal;
  text-align: right;
  padding-right: 40px;
  margin-top: 10px;
}
/* quote section end */
